html, body, #main_container {
    height:100%;
    width: 100%;
    overflow-y: hidden;
}


#nav_menu
{
    height:5%;
    width: 100%;
}
#carousel_body
{
    height:95%;
    width: 100%;
}

#carousel_body > [class*="col-"]
{
    height:100%;
    width: 100%;
    background:#fff;
}

#myCarousel
{
    height:100%;
    width: 100%;
}
#nav_menu .nav { 
    height:100%;
    width: 100%;
    background:#eee;
}
#nav_menu .nav a {
    width: 100%;
    border-radius:0px;
}

#carousel_body {
    height: 100%;
}

#carousel_body .carousel-inner {
    margin-left: 3%;
    width: 94%;
    height: 100%;
    background-color: #fff;
    border-radius:0px;
    
}

#carousel_body .left
{
    width: 3%;
    height: 100%;
}
#carousel_body .right
{
    width: 3%;
    height: 100%;
}

#myCarousel > .row  {
    width: 100%;   
    background-color: #fff;
   
}

.item
{
    height:100%;
    width: 100%;    

}

#suite_menu {
    height:100%;
    width: 100%;    

}

#suite_menu [class*="col-"]
{
    height: 100%;
    

}
#suite_menu [class*="col-"] .list-group {
    height: 93%;
    width: 100%;    
    overflow-y: auto;
    background-color: #fff;
    border-radius:0px;
}
